[submodule "IrsanAI-Universe"]
	path = IrsanAI-Universe
	url = https://github.com/IrsanAI/IrsanAI-Universe.git
[submodule "IrsanAI-RP-v1.0"]
	path = IrsanAI-RP-v1.0
	url = https://github.com/IrsanAI/IrsanAI-RP-v1.0.git
